<nav aria-label="Page navigation example" class="text-end">
    <pre>Total de desenvolvedores encontrados <b>{{total_count}}</b></pre>
    <ul class="pagination d-flex justify-content-end">
        <li class="page-item"><a class="link" [class.text-secondary]="page_atual <= 1" (click)="previoustPage()">Anterior</a></li>
        <li class="page-item"><a class="link" [class.text-secondary]="page_atual == pagination(total_count)" (click)="nextPage()">Próxima</a></li>
        <li class="page-item"><small>Página {{page_atual}} de {{pagination(total_count)}}</small></li>
    </ul>
</nav>